{% extends 'layout.html' %}

{% block body %}
    <h2>Network Topology - Live Map</h2>

    <p>Green elements are healthy. Red elements are unhealthy. Light blue elements are those that sflow is not receiving polling data on.</p>
    <p>Please allow time for page to load at first.</p>
    <br>

    <!-- Full-screen container for the Mermaid diagram -->
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <!-- Mermaid diagram content -->
                <div class="mermaid" id="mermaid-diagram" style="height: 100vh;">
                    {{ mermaid_code }}
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const evtSource = new EventSource('/api/v1/metrics/ALL/health');
        
        evtSource.onmessage = function(event) {
            const nodes = JSON.parse(event.data);

            nodes.forEach(dict => {
                const nodeElement = document.querySelector(`#mermaid-diagram .node[data-id="${dict.agent}"]`);
                if (nodeElement) {
                    rectangle = nodeElement.querySelector(`rect`);
                    color = (dict.metricValue == "up") ? "#B1F9A4" : "#FFCCCB";
                    rectangle.style.setProperty('fill', color, 'important');
                }
            });
        }            
    </script>
{% endblock %}